#container-move{
    animation: mover 1.7s ease-in-out;
    animation-delay: 0ms;
  
  
}

#one{
     animation: movericons  2s infinite ease-in-out;
     animation-delay: 0ms;
}
#two{
   animation: movericons  2s infinite ease-in-out;
   animation-delay: 230ms;
}
#three{
   animation: movericons  2s infinite ease-in-out;
   animation-delay: 460ms;
}

.fondo{
   background: #D3CCE3;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   
   
}

@keyframes mover {
     0%{
        transform: translateX(75vw);
        opacity: 10%;
        overflow: hidden;
     }
   
     100%{
        transform: translateX(0vw);
        overflow: hidden;
     }
}

@keyframes movericons {
   0%{
      transform: translateY(1vw);
      
      overflow: hidden;
   }
   50%{
      transform: translateY(0vw);
      overflow: hidden;
   }
   100%{
      transform: translateY(1vw);
      overflow: hidden;
   }
}