body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  @media screen and (max-width: 400px) {
    body {
      overflow-x: hidden;
    }
  }

#movepr{

    animation: movepr 1.3s ease-in-out;
    animation-delay: 0ms;
    z-index: 10;
    overflow: hidden;
}

@keyframes movepr {
    0%{ 
       
       transform: translateY(55vw);
       opacity: 0;
       overflow: hidden;
    }
    100%{
        
       transform: translateY(0vw);
       overflow: hidden;
    }
}
