body{
    overflow-x: hidden;
 }

#moveA{
    animation: moverA 1.9s ease-in-out;
    animation-delay: 0ms;
    z-index: 10;
    overflow: hidden;

}
#moveB{
    
    animation: moverB 2.1s linear;
    animation-delay: 0ms;
    z-index: 2;
    overflow: hidden;
}

@keyframes moverA {
    0%{ 
       
       transform: translateX(130vw);
       
       overflow: hidden;
    }
    100%{
        
       transform: translateX(0vw);
       overflow: hidden;
    }
}

@keyframes moverB {
    0%{
      
       transform: translateX(-102vw);
       opacity: 10%;
       overflow: hidden;
    }
    100%{
       transform: translateX(0vw);
       overflow: hidden;
    }
}